body{
    text-align: center;
    background-size: cover;
}

.main {
    display: inline-block;
    margin: auto;
}

.block {
    width: 600px;
    min-height: 500px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(180, 180, 180);   
    padding: 15px; 
    border-radius: 15px;
    margin: 5px;
}

.heads {
    text-align: center;
    color: #d6d6d6;
    text-decoration: underline;
}

.confirm{
    padding: 10px;
    margin: 10px;
    width: 400px;
}