body{
    text-align: center;
    background-size: cover;
}

.main {
    display: inline-block;
    margin: auto;
}

.block {
    width: 600px;
    min-height: 500px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(180, 180, 180);   
    padding: 15px; 
    margin: 5px;
    border-radius: 15px;
    text-align: left;
}

.heads {
    text-align: center;
    color: #d6d6d6;
    text-decoration: underline;
}

.confirm{
    padding: 10px;
}

.fett{
    font-weight: bold;
}

.output{
    background-color: rgb(150, 150, 150);
    min-width: 90px;
    max-width: 350px;
    padding: 5px;
}

.scroll{
    background-color: rgb(150, 150, 150);
    min-width: 90px;
    max-width: 350px;
    padding: 5px;
    overflow-y: scroll;
    height: 150px;
}

#tab {
    border-collapse: collapse;
    width: 100%;
}
  
#tab td, #tab th {
    border: 1px solid #ddd;
    padding: 4px;
}

#tab tr {background-color: #fcfcfc;}

#tab th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: rgb(150, 150, 150);
    color: white;
}

.example{
    max-width: 200px;
}